*{
    margin: 0;
}

body{
    font-size: 24px;
    background-color: #2b3137;
    color: #ffffff;
}

.app{
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.text{
    display: block;
    margin-bottom: 50px;
}

.main{
    display: block;
    position: fixed;
    top: 45%;
    left: 45%;
    transform: translate(-45%,-45%);
}

#nInput{
    width: 200px;
}

